<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School</title>
  </head>
  <link rel="stylesheet" href="./index.css" type="text/css"/>
<script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
<script src="./lessons.js"></script>
</head>
<body>
    
    <div id="app">
       <h1>After School Activities</h1>
       
       <div class="search-container">
        
           <input type="search"/><input type="button" value="search"/>
       </div>
       <div class="lesson-container">   
           <div class="image-card" v-for="(lesson,key) in lessons" :key="lesson.subject">
            <div class="card-image"> <img :src="lesson.image"/></div> 
            <div class="card-text">
                
                <div   v-for="(value, key) in lesson" :key="key" v-if="key !=='image'">
                    <h4>{{ key }}: {{ value }}</h4>
                </div>
              
            </div>
            <div class="card-button"><button>Add to cart</button></div>
            
           </div>
       </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    <script>
        let app = new Vue({
            el:"#app",
            data:{
                welcome:"hello world",
                lessons
            }
        })
    </script>
</body>
</html>