<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School</title>
  </head>
  <link rel="stylesheet" href="./index.css" type="text/css"/>
  
<script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
<script src="./lessons.js"></script>
</head>
<body>
    
    <div id="app">
       <h1>After School Activities</h1>
       <!-- Disabling the cart only on the lesson Page -->
       <button class="cart" v-bind:disabled ="cart.length < 1 && currentPage !== 1"  @click = "togglePage()">   
            <h3>Cart</h3>
            <p>{{cart.length}}</p>
     
       </button>
     <div  v-if ="currentPage === navigator.lessonPage" class="lessonPage">
        <div class="search-container">
        
            <input type="search" placeholder="Search Lessons" v-model="searchText" /><input type="button" value="search" />
        </div>
        
        <!-- Sort Tags -->
        <div class="sort-section">
        
            <div class="sort-type">
                <div>
                    <input type="radio" name="sort" value="subject" id="option1" v-model="sortType" /> <label
                        for="option1">Subject</label>
                </div>
                <div>
                    <input type="radio" name="sort" value="location" id="option2" v-model="sortType" /> <label
                        for="option2">Location</label>
                </div>
                <div>
                    <input type="radio" name="sort" value="price" id="option3" v-model="sortType" /> <label
                        for="option3">Price</label>
                </div>
                <div>
                    <input type="radio" name="sort" value="spaces" id="option4" v-model="sortType" /> <label
                        for="option4">Spaces</label>
                </div>
        
        
        
            </div>
            <div class="sort-mode">
                <div>
                    <input type="radio" name="mode" value="descending" id="descending" v-model="mode" /> <label
                        for="descending">Descending</label>
                </div>
                <div>
                    <input type="radio" name="mode" value="ascending" id="ascending" v-model="mode" /> <label
                        for="ascending">Ascending</label>
                </div>
        
            </div>
        
        
        
        </div>
        
        <!-- Lessons section -->
        <div class="lesson-container">
            <div class="image-card" v-for="(lesson,key) in sortedLessons" :key="lesson.subject">
                <div class="card-image"> <img :src="lesson.image" /></div>
                <div class="card-text">
        
                    <div v-for="(value, key) in lesson" :key="key" v-if="!['id','image'].includes(key)">
                        <h4>{{ key }}: {{ value }}</h4>
                    </div>
        
                </div>
                <div class="card-button"><button v-bind:disabled="lesson.spaces < 1" @click="addToCart(lesson)">Add to
                        cart</button></div>
        
            </div>
        </div>
     </div> 
     
<div v-else-if ="currentPage === navigator.cartPage"  class="shoppingCartPage">
    <div class="cart-container">
        <div class="image-card" v-for="(lesson,key) in cart" :key="lesson.subject">
            <div class="card-image"> <img :src="lesson.image" /></div>
            <div class="card-text">
    
                <div v-for="(value, key) in lesson" :key="key"v-if="!['id','image'].includes(key)">
                    <h4>{{ key }}: {{ value }}</h4>
                </div>
    
            </div>
            <div class="card-button"><button  @click="removeLesson(lesson)">Remove</button></div>
    
        </div>
    </div>
    <div class="checkout-container">
        <div>
        <label for="name">Name :</label>  <input v-model="order.name" id="name" type="phone"/> 
        </div>
        <div>
            <label for="name" >Phone:</label> <input v-model="order.phone"  id="name" type="text" />
        </div>
        <div class="checkout-button"><button v-bind:disabled="!(order.name && order.phone)" @click="completeCheckout()">Add to
                cart</button></div>
    </div>
    
</div>
     
     
      
    </div>
    
    

    <script>
        let app = new Vue({
            el:"#app",
            data:{
                welcome:"hello world",
                lessons,
                showSubject:true,
                sortType:'subject',
                mode:"ascending" , 
                query:"",
                searchText:"",
                cart:[],
                navigator:{
                    lessonPage:0,
                    cartPage:1,
                },
                currentPage:0,
                order:{
                    name:"",
                    phone:""
                }
             
            },
        
            methods:{
                addToCart : function(lesson){
                    let lessonInCart = this.cart.find((item) => item.id === lesson.id);
                    const increaseAmount = 1;
                    // check if lesson is already in cart
                    if (lessonInCart){
                        lessonInCart.spaces += 1 
                    }
                    else {
                        this.cart = [...this.cart, {...lesson,spaces:1}];
                    }
                    lesson.spaces--
                    
                },
                
                // review this code
                togglePage:function(){
                  this.currentPage = this.currentPage === 0 ? 1 : 0;
                    
                    
                },
                removeLesson:function (lesson) { 
                    let lessonInLessons = this.lessons.find((item) => item.id === lesson.id);
                   // remove the item if spaces less than zero
                    if(lesson.spaces <= 1){
                        this.cart = this.cart.filter((item) => item.id !== lesson.id);
                    }
                    else{
    
                        lesson.spaces -= 1;
                    }
                    lessonInLessons.spaces +=1
                    
                 },
                 completeCheckout:function (){
                    alert("order has been submitted")
                 }
            },
              computed: {
                sortedLessons: function () {
                    let order = this.mode ==='ascending' ? 1 : -1;
                    return this.lessons.slice().filter((item)=>{
                        return (item.subject.toLowerCase().includes(this.searchText.toLowerCase()))  || (item.location.toLowerCase().includes(this.searchText.toLowerCase()))
                    }).sort((a, b) => {
                       if(typeof a[this.sortType] === 'string' && typeof b[this.sortType]==='string'){
                        
                           return order*(a[this.sortType].localeCompare(b[this.sortType]))
                       }
                       else{
                        return order * (a[this.sortType]-(b[this.sortType]))
                       }
                       
                }
                    )
            },
            
            
        }
            
           
        })
    </script>
</body>
</html>